.sfdx/sfdx-config.json
.sfdx/orgs/test-0kd6wz07h3ia@example.com/metadataTypeInfos.json
.sfdx/orgs/test-0kd6wz07h3ia@example.com/sourcePathInfos.json
.sfdx/orgs/test-0kd6wz07h3ia@example.com/sourcePathInfos.json.bak
